<div class="devise-form">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.label :username %>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "username" }%>
      <%= f.label :email %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.label :password %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.label :password_confirmation %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <fieldset>
      <%= f.submit "Sign up", class: "btn btn--secondary" %>
      <%= link_to "Cancel", root_path, class: "btn btn--light" %>
    </fieldset>
  <% end %>

  <%= render "devise/shared/links" %>
</div>