<%# app/views/books/index.html.erb %>
<%= turbo_stream_from current_user, "books" %>

<main class="container">
  <% if @user.present? %>
    <%= render "layouts/profile_section" %>
    <div class="header">
      <h3><%="#{@user.username.upcase}'S BOOKS"%></h3>
    </div>
  <% end %>

  <%= turbo_frame_tag "books" do %>
    <div class="books__grid_layout">
      <%= render "books/empty_state" %>
      <%= render @books %>
    </div>
  <% end %>
</main>