<%# app/views/reviews/index.html.erb %>

<%= turbo_stream_from current_user, "reviews" %>

<% if @user.present? %>
  <%= render "layouts/profile_section" %>
<% end %>

<div class="container container--no_style">
  <div class="review_titles">
    <h1>
      Reviews
    </h1>
  </div>
</div>
<%= turbo_frame_tag Review.new %>

<%= turbo_frame_tag "reviews" do %>
  <%= render "reviews/empty_state" %>
  <%= render @reviews %>
<% end %>