<%# app/views/reviews/index.html.erb %>

<%= turbo_stream_from current_user, "reviews" %>

<main class="container">
  <% if @user.present? %>
    <%= render "layouts/profile_section" %>
    <div class="header">
      <h3><%="#{@user.username.upcase}'S REVIEWS"%></h3>
    </div>
  <% end %>
  <%= turbo_frame_tag Review.new %>

  <%= turbo_frame_tag "reviews" do %>
    <%= render "reviews/empty_state" %>
    <%= render @reviews %>
  <% end %>
</main>