<%# app/views/reviews/index.html.erb %>

<%= turbo_stream_from current_user, "reviews" %>

<% if @user.present? %>
  <%= render "layouts/profile_section" %>
  <div class="container container--no_style">
   <div class="review_titles">
      <h1>
        <a href="<%= url_for(controller: '/reviews', action: 'index', username: current_user.username)%>">Reviews</a>
      </h1>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag Review.new %>

<%= turbo_frame_tag "reviews" do %>
  <%= render "reviews/empty_state" %>
  <%= render @reviews %>
<% end %>