
<header class="navbar">

  <h1>Books</h1>

  <% if user_signed_in? %>
    <div class="navbar__name">
      <%= current_user.name %>
    </div>
    <%= button_to "Edit profile",
                  edit_user_registration_path,
                  class: "btn btn--blue" %>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
  <div class="navbar__links">
    <%= link_to "Sign up",
              new_user_registration_path,
              class: "btn btn--primary navbar__right" %>
    <%= link_to "Login",
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  </div>
  <% end %>
</header>