
<header class="navbar">

  <%= link_to "Books", google_books_url, class: "btn btn--medium btn--secondary" %>

  <% if user_signed_in? %>
    <div class="collections">
      <%= link_to "My books",
                books_path,
                class: "btn btn--primary navbar__center" %>
      <%= link_to "My reviews",
                reviews_path,
                class: "btn btn--primary navbar__center" %>
    </div>
    <%# <%= button_to "Edit profile",
                  edit_user_registration_path,
                  class: "btn btn--blue" %>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
  <div class="navbar__links">
    <%= link_to "Sign In",
                  new_user_session_path,
                  class: "btn btn--dark navbar__right" %>
    <%= link_to "Sign Up",
              new_user_registration_path,
              class: "btn btn--primary navbar__right" %>
  </div>
  <% end %>
</header>