<div class="container">
  <header class="profile_section">
    <section>
      <a href="/<%= @user.username %>"></a>
    </section>
    <section>
      <%= link_to @user.username, user_url(username: @user.username), class:"profile_section__username" %>
    </section>

    <div class="profile_section__summary">
      <a href="/<%= @user.username %>/books">
        <span class="summary__count"><%= @user.books.count %></span>
        <span class="block text-sm mt-1">Books</span>
      </a>
      <a href="/<%= @user.username %>/reviews">
        <span class="summary__count"><%= @user.reviews.count %></span>
        <span class="block text-sm mt-1">Reviews</span>
      </a>
    </div>
  </header>
</div>